
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


:root {
  font-size: 62.5%;
  --primary-color: #22577a;
  --secondary-color: #38a3a5;
  --bg-color: #c7f9cc;
  
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.container {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.hero-greeting {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
}

.hero-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-img {
  width: 15rem;
  height: 15rem;
  align-self: center;
}

.hero-location {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  align-self: center;
}

.location-text {
  font-size: 1.5rem;
}

.btn-hero {
  align-self: flex-end;
}

.material-symbols-outlined.arrow {
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
}

.add-info {
  background-color: #22577a;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.add-info.active {
  opacity: 1;
  transition: all 0.5s;
}

.add-sub {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}