
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


:root {
  font-size: 62.5%;
  --primary-color: rgb(34, 87, 122);
  --secondary-color: #38a3a5;
  --bg-color: #c7f9cc;
  
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--primary-color);
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.container {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero {
  background: linear-gradient(rgb(34, 87, 122, 0.5), rgba(0, 0, 0, 0.5));
  color: white;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.hero-greeting {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  font-size: 10rem;
  font-weight: bold;
}

.hero-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-location {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: center;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  opacity: 0.9;
}

.service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-self: center;
}

.place-input {
  align-self: center;
  font: inherit;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.85rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: var(--primary-color)
}

.material-symbols-outlined.arrow {
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
}

.add-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(34, 87, 122, 0.5));
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transition: all 0.5s;
}

.add-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.add-container.add-text {
  margin-left: 5rem;
  align-items: flex-start;
}

.add-info.active {
  opacity: 1;
  transition: all 0.5s;
}

.add-sub {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.add-img {
  width: 10rem;
  height: 10rem;
  align-self: center;
}

/* Queries */
@media (min-width: 900px) {
  .hero {
    padding: 3rem 10rem;
  }

  .hero-container {
    padding: 10rem;
    flex-direction: row;
    gap: 10rem;
    font-size: 12.5rem;
  }

  .add-container.add-text {
    flex-direction: row;
    gap: 5rem;
  }
}

@media (min-width: 600px) {
  .service-container {
    flex-direction: row;
  }
}